body {
  .ant-input {
    height: 32px;
    padding: 5px 10px;
    background-color: transparent;
    background-image: linear-gradient(90deg, #088bff33 0%, #088bff00 53%, #088bff33 100%);
    border: 1px solid #088bff66;
    border-radius: 2px;

    font-family: PingFang;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
    color: #7aa3cc;
    &::placeholder {
    }
    &:hover {
      border-color: #088bff66;
    }
  }
}
