.ant-message {
  z-index: 1090;
  color: #fff;
  .ant-message-notice-content {
    // background: #000c25;
    background: #000c25
      linear-gradient(
        90deg,
        rgba(8, 139, 255, 0.2) 0%,
        rgba(8, 139, 255, 0) 53%,
        rgba(8, 139, 255, 0.2) 100%
      );
    border: 1px solid rgba(8, 139, 255, 0.4);
    .anticon {
      > svg {
        display: block;
      }
    }
  }
}
