.ant-popover {
  .ant-popover-arrow-content {
    background-color: rgba(8, 139, 255, 0.4);
  }
  .ant-popover-inner {
    background: #000c25
      linear-gradient(
        90deg,
        rgba(8, 139, 255, 0.2) 0%,
        rgba(8, 139, 255, 0) 53%,
        rgba(8, 139, 255, 0.2) 100%
      );
    border: 1px solid rgba(8, 139, 255, 0.4);
    .ant-popover-title {
      color: #fff;
      border-bottom-color: rgba(8, 139, 255, 0.4);
    }
  }
  .ant-btn {
    color: #bff2ff;
    background: rgba(191, 242, 255, 0.04);
    text-shadow: none;
    box-shadow: none;
    border: none;
    &.ant-btn-primary {
      color: #2984db;
      background: rgba(32, 129, 255, 0.1);
    }
  }
  .ant-btn:hover,
  .ant-btn:focus,
  .ant-btn:active {
    background: rgba(53, 255, 244, 0.1);
    color: #35fff4;
  }
}
