.ant-select {
  height: 34px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgba(8, 139, 255, 0.2) 0%,
    rgba(8, 139, 255, 0) 53%,
    rgba(8, 139, 255, 0.2) 100%
  );

  img {
    width: 30px;
  }
  .ant-select-arrow {
    width: 30px;
    height: 30px;
    top: 6px;
  }
  .ant-select-selector {
    border: 1px solid rgba(8, 139, 255, 0.4) !important;
    background: linear-gradient(
      90deg,
      rgba(8, 139, 255, 0.2) 0%,
      rgba(8, 139, 255, 0) 53%,
      rgba(8, 139, 255, 0.2) 100%
    ) !important;
  }
  span {
    font-size: 22px;
    color: #7aa3cc;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid rgba(8, 139, 255, 0.4) !important;
    background: linear-gradient(
      90deg,
      rgba(8, 139, 255, 0.2) 0%,
      rgba(8, 139, 255, 0) 53%,
      rgba(8, 139, 255, 0.2) 100%
    ) !important;
  }

  .anticon-close-circle {
    transform: translate(4px, -8px);
    color: rgba(8, 139, 255, 0.8);
  }

  .ant-select-clear {
    background: transparent;
  }
}
body {
  .ant-select-dropdown {
    z-index: 1090 !important;
    background: #003156;
    border-radius: 1px;
    border: 2px solid;
    color: #cfefff;
    border-image: linear-gradient(
        225deg,
        rgba(12, 65, 207, 0),
        rgba(12, 65, 207, 1),
        rgba(12, 65, 207, 0)
      )
      2 2 !important;
    max-height: none !important; // 去掉最大高度限制
    overflow: auto; // 显示滚动条
  }
  .rc-virtual-list-holder {
    max-height: none !important; // 去掉最大高度限制
    overflow: auto !important;
    > div {
      max-height: none !important; // 去掉最大高度限制
      overflow: auto !important;
    }
  }
  .ant-select-item {
    color: rgba(255, 255, 255, 0.8);
    font-size: 22px;
  }

  .ant-select-item:hover {
    background: linear-gradient(
      90deg,
      rgba(8, 139, 255, 0.5) 0%,
      rgba(8, 139, 255, 0.7) 53%,
      rgba(8, 139, 255, 0) 100%
    );
  }

  .ant-select-item-option-selected {
    color: #cfefff;
    background: linear-gradient(
      90deg,
      rgba(8, 139, 255, 0.5) 0%,
      rgba(8, 139, 255, 0.7) 53%,
      rgba(8, 139, 255, 0) 100%
    );
  }
  .ant-select-dropdown-menu {
    max-height: none !important;
    overflow: auto;
  }
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: #cfefff;
    background: linear-gradient(
      90deg,
      rgba(8, 139, 255, 0.5) 0%,
      rgba(8, 139, 255, 0.7) 53%,
      rgba(8, 139, 255, 0) 100%
    );
  }
  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    color: #cfefff;
    background: linear-gradient(
      90deg,
      rgba(8, 139, 255, 0.5) 0%,
      rgba(8, 139, 255, 0.7) 53%,
      rgba(8, 139, 255, 0) 100%
    );
  }
}
