body {
  .ant-slider {
    .ant-slider-rail {
      background-color: #088bff66;
    }
    .ant-slider-track {
      background-color: #35fff4;
    }
    .ant-slider-handle {
      background-color: #a9f1ff;
    }
    &:hover {
      .ant-slider-rail {
        background-color: #088bff66;
      }
      .ant-slider-track {
        background-color: #35fff4;
      }
      .ant-slider-handle {
        background-color: #a9f1ff;
      }
    }
  }
}
