.ant-tooltip {
  .ant-tooltip-arrow-content {
    background-color:;
  }
  .ant-tooltip-arrow-content,
  .ant-tooltip-inner {
    background-color: #003156;
  }
  .ant-tooltip-inner {
    color: #cfefff;
  }
}
